version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
<<<<<<< HEAD
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    command: npm run dev
=======
      args:
        VITE_CALLBACK_BASE: http://backend
    ports:
      - "5174:80"
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - PORT=80
    ports:
      - "3000:80"
    restart: unless-stopped



>>>>>>> 1afe03a (backend)

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    depends_on:
      - frontend
